.socialMedia{
    @include flex(column);
    justify-content: center;
    align-items: center;
    .socialMedia__btnContainer{
        @include flex(column);
        @include flexCenter();
    }
    a{
        @include fontSizer(16);
        padding: 1rem;
        transition: all 0.3s ease;
    }
    a:hover{
        transform: scale(1.2);
    }
}