.socialMedia{
    @include flex(column);
    justify-content: center;
    align-items: center;
    position: relative;
    .socialMedia__btnContainer{
        position: fixed;
        height: 100vh;
        top: 0;
        @include flex(column);
        @include flexCenter();
    }
    a{
        @include fontSizer(16);
        padding: 1rem;
        transition: all 0.3s ease;
    }
    a:hover{
        transform: scale(1.2);
    }
    img{
        height: 2rem;
        width: 2rem;
    }
}


@media (max-width:900px){
    .socialMedia{
        @include flex(row);
        .socialMedia__btnContainer{
            position: relative;
            height: auto;
            margin: 2rem;
            @include flex(row);
        }
    }
}

@media (max-width:700px){
    .socialMedia{
        img{
            background: $white;
            opacity: 0.6;
            border-radius: 50%;
            padding: 0.3rem;
        }
    }
}

@media (max-width:500px){
    .socialMedia{
        .socialMedia__btnContainer{
            position: absolute;
            bottom: 0;
            margin: 0 auto;
        }
    }
}