html body{
    background: $background;
    font-size: 62.5%;
}

.wrapper{
<<<<<<< HEAD
    width: 90%;
=======
    width: 70%;
>>>>>>> ebd0f49b611b5c5eecb2aa7a68858732d7bebd36
    margin: 0 auto;
    @media (max-width: 900px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 90%;
    }
}

//grid layout
.grid-col-2{
    @include grid($grid-col-3);
}

.grid-col-3{
    @include grid($grid-col-4);
}

//a tag
a{
    color: $black;
    text-decoration: none;
}
<<<<<<< HEAD

.hide{
    display: none;
}

.main{
    min-height: 100vh;
    padding: 3rem 0;
    position: relative;
}
=======
>>>>>>> ebd0f49b611b5c5eecb2aa7a68858732d7bebd36
