h1{
    @include font($title...);
    margin: 0;
    display: flex;
    align-items: center;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: $black;
    font-size: 1rem;
}

.page-title{
    @include font($pageTitle...);
}

.page-subtitle{
    @include font($pageSubtitle...);
}

//about
.about-text{
    margin: 0;
    @include font($aboutText...);
}

.skills-text{
    @include font($skillsText...);
}

//nav
.nav{
    @include font($menu...)
}

@media (min-width:768px){
    .vertical{
    @include vertical();
    }
}