//color variables
$background: #F7FDFF;
$backgroundTransparent: rgba(247, 253, 255, 0.85);
$white: #FFF;
$beige: #F7F7F7;
$black: #3A3A3A;
$boxSBlack: rgba(0, 0, 0, 0.15);

//font variables
$pageTitle: 30, ('Playfair Display', serif), 400, 100%;
$projectName: 22, ('Playfair Display', serif), 400, 100%;
$pageSubtitle: 18, ('Playfair Display', serif), 400, 100%;
$aboutText: 10, ('Open Sans', sans-serif), 400, 150%;
$skillsText: 8, ('Open Sans', sans-serif), 400, 130%;
$linkText: 8, ('Open Sans', sans-serif), 400, 0%;
$title: 16, ('Playfair Display', serif), 400, 100%;
$projTitle: 12, ('Playfair Display', serif), 700, 28px;
$menu: 14, ('Playfair Display', serif), 400, 28px;

//grid variables
$grid-col-1: 1fr;
$grid-col-2: 1fr 1fr;
$grid-col-3: 1fr 6fr 1fr;

//position
@mixin absolute (){
    position: absolute;
    top: 0;
    left: 0;
}

@mixin flex($direction){
    display: flex;
    flex-direction: $direction; 
    flex-wrap: wrap;
}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

//mixins grid layout
@mixin grid ($column){
    display: grid;
    grid-template-columns: $column;
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem auto);
}

//mixins for text
@mixin vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@mixin menuItemLine{
    content: '';
            display: block;
            border-top: 1px solid lighten($black, 20%);
            margin: 0 1rem;
}

@mixin fontSizer($scale) {
    font-size: $scale * 1px;
    font-size: ($scale / 10) * 1rem;
}

@mixin lineHeight($scale) {
    line-height: $scale * 1px;
    line-height: ($scale / 10) * 1rem;
}

@mixin font($size, $family, $weight, $height){
    @include fontSizer($size);
    font-family: $family;
    font-weight: $weight;
    color: $black;
    line-height: $height;
}
