#about{
  height: 100vh;
  width: 100%;
  .about-text{
    padding: 1rem;
    border: 2px solid $beige;
    outline: 5px double  $beige;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
    background: $beige;
  }
  .skills{
    @include flexCenter();
    flex-flow: column wrap;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem 0 1rem;
    background: $beige;
    margin-top: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
    outline: 5px double  $beige;
    img{
      width: 2rem;
      height: 2rem;
      box-shadow: none;
      outline: none;
    }
    &__row{
      @include flexCenter();
      flex-flow: row;
      div{
        width: 100px;
        @include flexCenter();
        flex-flow: column wrap;
        padding: 0.5rem;
      }
    }
  }
  img{
    width: 100%;
    outline: 5px double $beige;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
  }
}

@media (max-width:700px){
  #about{
  
    height: auto;
    .grid-col-2{
      display: block;
    }
    
    .skills{
      @include flexCenter();
      width: 65%;
      font-size: 1rem;
      background: $beige;
      margin: 1em auto;
      img{
        width: 1rem;
        height: 1rem;
      }
      &__row{
        flex-flow: row wrap;
      }
    }
  }
}

@media (max-width:570px){
  #about{
    .skills{
      width: 82%;
    }
  }
}


@media (max-width:465px){
  #about{
    .skills{
      width: 100%;
    }
  }
}
