article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Playfair", serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 70%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

p {
  font-family: 'Open Sans', sans-serif;
  color: #3A3A3A; }

.nav {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Playfair", serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 28px; }

@media (min-width: 768px) {
  .vertical {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright; } }

html body {
  background: #F7FDFF;
  font-size: 62.5%; }

a {
  color: #3A3A3A;
  text-decoration: none; }

.hide {
  display: none; }

.main {
  min-height: 100vh;
  padding: 3rem 0;
  position: relative;
  width: 80%; }

.pages {
  width: 100%;
  padding: 0 rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem auto); }

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem auto);
  margin: 2rem; }

.wrapper {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .wrapper {
      width: 90%; } }

@media (max-width: 768px) {
  .grid-col-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem auto); }
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem auto);
    margin: 0; }
  .socialMedia {
    display: block;
    position: relative; }
  .main {
    padding: 0; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav .nav--relative {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .nav .nav--absolute {
    position: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0; }
  .nav .nav__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    padding-left: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(247, 253, 255, 0.85);
    z-index: 4;
    margin: 0; }
    .nav .nav__list a {
      padding: 0.3rem 0.3rem;
      margin: 1rem; }
    .nav .nav__list li {
      list-style: none;
      text-transform: uppercase; }
    .nav .nav__list li::before {
      content: '';
      display: block;
      border-top: 1px solid #6d6d6d;
      margin: 0 1rem;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .nav .nav__list li::after {
      content: '';
      display: block;
      border-top: 1px solid #6d6d6d;
      margin: 0 1rem;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .nav .nav__list li:hover::before {
      -webkit-transform: rotate(45deg) translateX(8px) translateY(11px);
              transform: rotate(45deg) translateX(8px) translateY(11px); }
    .nav .nav__list li:hover::after {
      -webkit-transform: rotate(-45deg) translateX(8px) translateY(-11px);
              transform: rotate(-45deg) translateX(8px) translateY(-11px); }
  .nav .menu__text {
    text-align: center;
    margin: 0.5rem 0; }
    .nav .menu__text h1 {
      margin: 0.5rem 0;
      text-align: center; }
  .nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 30px; }
  .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 25px;
    width: 30px;
    position: relative;
    cursor: pointer; }
    .nav .menu span {
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: #3A3A3A;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .nav .hamburger {
    z-index: 5; }
    .nav .hamburger span {
      -webkit-transform-origin: left;
              transform-origin: left; }
      .nav .hamburger span:nth-of-type(1), .nav .hamburger span:nth-of-type(5) {
        opacity: 0; }
      .nav .hamburger span:nth-of-type(2) {
        position: absolute;
        top: 0; }
      .nav .hamburger span:nth-of-type(3) {
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
      .nav .hamburger span:nth-of-type(4) {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
        position: absolute;
        bottom: 0; }
    .nav .hamburger:not(.hamburgeranimX):hover span:nth-child(2) {
      -webkit-animation: hamburgerHover 1s 1;
              animation: hamburgerHover 1s 1; }
    .nav .hamburger:not(.hamburgeranimX):hover span:nth-child(3) {
      -webkit-animation: hamburgerHover 1s 0.03s 1;
              animation: hamburgerHover 1s 0.03s 1; }
    .nav .hamburger:not(.hamburgeranimX):hover span:nth-child(4) {
      -webkit-animation: hamburgerHover 1s 0.06s 1;
              animation: hamburgerHover 1s 0.06s 1; }
    .nav .hamburger.hamburgeranimX span {
      width: 0; }
      .nav .hamburger.hamburgeranimX span:nth-of-type(1) {
        width: 100%;
        -webkit-animation: hamburgerTopAnimation 1s ease;
                animation: hamburgerTopAnimation 1s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.05s;
                animation-delay: 0.05s; }
      .nav .hamburger.hamburgeranimX span:nth-of-type(5) {
        width: 100%;
        -webkit-animation: hamburgerBottomAnimation 1s ease;
                animation: hamburgerBottomAnimation 1s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.05s;
                animation-delay: 0.05s; }

@-webkit-keyframes hamburgerHover {
  0% {
    width: 100%; }
  50% {
    width: 0%; } }

@keyframes hamburgerHover {
  0% {
    width: 100%; }
  50% {
    width: 0%; } }

@-webkit-keyframes hamburgerTopAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(45deg) translateX(3px) translateY(-3px);
            transform: rotate(45deg) translateX(3px) translateY(-3px);
    opacity: 1; } }

@keyframes hamburgerTopAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(45deg) translateX(3px) translateY(-3px);
            transform: rotate(45deg) translateX(3px) translateY(-3px);
    opacity: 1; } }

@-webkit-keyframes hamburgerBottomAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(-45deg) translateX(3px) translateY(2px);
            transform: rotate(-45deg) translateX(3px) translateY(2px);
    opacity: 1; } }

@keyframes hamburgerBottomAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(-45deg) translateX(3px) translateY(2px);
            transform: rotate(-45deg) translateX(3px) translateY(2px);
    opacity: 1; } }

@media (max-width: 768px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .nav .nav--relative {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1rem; }
  .nav .nav--absolute {
    position: relative;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 100px; }
  .nav .menu__text {
    display: none; } }

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .socialMedia .socialMedia__btnContainer {
    position: fixed;
    height: 100vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .socialMedia a {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .socialMedia a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

@media (max-width: 768px) {
  .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .socialMedia .socialMedia__btnContainer {
      position: relative;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.logo {
  fill: #3A3A3A;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1; }

@-webkit-keyframes move {
  25% {
    -webkit-transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg);
            transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg); }
  50% {
    -webkit-transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg);
            transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg); }
  70% {
    -webkit-transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg);
            transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg); }
  90% {
    -webkit-transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg);
            transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg); } }

@keyframes move {
  25% {
    -webkit-transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg);
            transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg); }
  50% {
    -webkit-transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg);
            transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg); }
  70% {
    -webkit-transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg);
            transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg); }
  90% {
    -webkit-transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg);
            transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg); } }

#projects {
  width: 100%; }
  #projects img {
    width: 100%; }
  #projects figure {
    margin-top: 2rem;
    position: relative;
    overflow: hidden; }
  #projects figure:nth-of-type(1) {
    margin-top: 0; }
  #projects #blog1 {
    margin-top: 2rem;
    margin-right: 2rem; }
  #projects figcaption {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), color-stop(55%, #F7F7F7));
    background: linear-gradient(transparent 10%, #F7F7F7 55%);
    position: absolute;
    bottom: 0;
    padding: 4rem 1rem 1rem 1rem; }
    #projects figcaption h2 {
      font-size: 1.3rem;
      font-size: 14px;
      font-size: 1.4rem;
      font-family: "Playfair Display";
      font-weight: 400;
      color: #3A3A3A;
      line-height: 1.3rem; }
    #projects figcaption p {
      font-size: 1rem;
      margin-bottom: 0px; }

@media (max-width: 858px) {
  .header {
    position: fixed;
    width: 10%; }
  #projects #blog1 {
    margin-right: 0rem; }
  #projects #blog2 {
    display: none; } }
