article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

p {
  font-family: 'Open Sans', sans-serif;
  color: #3A3A3A;
  font-size: 1rem; }

.page-title {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 100%; }

.page-subtitle {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 100%; }

.about-text {
  margin: 0;
  font-size: 10px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 150%; }

.skills-text {
  font-size: 8px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 130%; }

.nav {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 28px; }

@media (min-width: 768px) {
  .vertical {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright; } }

html body {
  background: #F7FDFF;
  font-size: 62.5%; }

a {
  color: #3A3A3A;
  text-decoration: none; }

.hide {
  display: none; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav .nav--relative {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .nav .nav--absolute {
    position: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0; }
  .nav .nav__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    padding-left: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(247, 253, 255, 0.85);
    z-index: 4;
    margin: 0; }
    .nav .nav__list a {
      padding: 1rem 0.3rem;
      margin: 1rem; }
    .nav .nav__list li {
      list-style: none;
      text-transform: uppercase; }
    .nav .nav__list li::before {
      content: '';
      display: block;
      border-top: 1px solid #6d6d6d;
      margin: 0 1rem;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .nav .nav__list li::after {
      content: '';
      display: block;
      border-top: 1px solid #6d6d6d;
      margin: 0 1rem;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .nav .nav__list li:hover::before {
      -webkit-transform: rotate(45deg) translateX(8px) translateY(11px);
              transform: rotate(45deg) translateX(8px) translateY(11px); }
    .nav .nav__list li:hover::after {
      -webkit-transform: rotate(-45deg) translateX(8px) translateY(-11px);
              transform: rotate(-45deg) translateX(8px) translateY(-11px); }
  .nav .menu__text {
    text-align: center;
    margin: 0.5rem 0; }
    .nav .menu__text h1 {
      margin: 0.5rem 0;
      text-align: center; }
  .nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 30px; }
  .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 25px;
    width: 30px;
    position: relative;
    cursor: pointer; }
    .nav .menu span {
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: #3A3A3A;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .nav .hamburger {
    z-index: 5; }
    .nav .hamburger span {
      -webkit-transform-origin: left;
              transform-origin: left; }
      .nav .hamburger span:nth-of-type(1), .nav .hamburger span:nth-of-type(5) {
        opacity: 0; }
      .nav .hamburger span:nth-of-type(2) {
        position: absolute;
        top: 0; }
      .nav .hamburger span:nth-of-type(3) {
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
      .nav .hamburger span:nth-of-type(4) {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
        position: absolute;
        bottom: 0; }
    .nav .hamburger:not(.hamburgeranimX):hover span:nth-child(2) {
      -webkit-animation: hamburgerHover 1s 1;
              animation: hamburgerHover 1s 1; }
    .nav .hamburger:not(.hamburgeranimX):hover span:nth-child(3) {
      -webkit-animation: hamburgerHover 1s 0.03s 1;
              animation: hamburgerHover 1s 0.03s 1; }
    .nav .hamburger:not(.hamburgeranimX):hover span:nth-child(4) {
      -webkit-animation: hamburgerHover 1s 0.06s 1;
              animation: hamburgerHover 1s 0.06s 1; }
    .nav .hamburger.hamburgeranimX span {
      width: 0; }
      .nav .hamburger.hamburgeranimX span:nth-of-type(1) {
        width: 100%;
        -webkit-animation: hamburgerTopAnimation 1s ease;
                animation: hamburgerTopAnimation 1s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.05s;
                animation-delay: 0.05s; }
      .nav .hamburger.hamburgeranimX span:nth-of-type(5) {
        width: 100%;
        -webkit-animation: hamburgerBottomAnimation 1s ease;
                animation: hamburgerBottomAnimation 1s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 0.05s;
                animation-delay: 0.05s; }

@-webkit-keyframes hamburgerHover {
  0% {
    width: 100%; }
  50% {
    width: 0%; } }

@keyframes hamburgerHover {
  0% {
    width: 100%; }
  50% {
    width: 0%; } }

@-webkit-keyframes hamburgerTopAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(45deg) translateX(3px) translateY(-3px);
            transform: rotate(45deg) translateX(3px) translateY(-3px);
    opacity: 1; } }

@keyframes hamburgerTopAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(45deg) translateX(3px) translateY(-3px);
            transform: rotate(45deg) translateX(3px) translateY(-3px);
    opacity: 1; } }

@-webkit-keyframes hamburgerBottomAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(-45deg) translateX(3px) translateY(2px);
            transform: rotate(-45deg) translateX(3px) translateY(2px);
    opacity: 1; } }

@keyframes hamburgerBottomAnimation {
  0% {
    display: none; }
  1% {
    display: inline-block; }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(-45deg) translateX(3px) translateY(2px);
            transform: rotate(-45deg) translateX(3px) translateY(2px);
    opacity: 1; } }

@media (max-width: 900px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .nav .nav--relative {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1rem; }
  .nav .nav--absolute {
    position: fixed;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    top: 2.5%;
    right: 5%;
    width: 30px; }
  .nav .menu__text {
    display: none; } }

@media (max-width: 430px) {
  .nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; } }

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .socialMedia .socialMedia__btnContainer {
    position: fixed;
    height: 100vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .socialMedia a {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .socialMedia a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .socialMedia img {
    height: 2rem;
    width: 2rem; }

@media (max-width: 900px) {
  .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .socialMedia .socialMedia__btnContainer {
      position: relative;
      height: auto;
      margin: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

#logo-svg {
  min-height: 100vh; }

.logo {
  fill: #3A3A3A;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1; }

@-webkit-keyframes move {
  25% {
    -webkit-transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg);
            transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg); }
  50% {
    -webkit-transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg);
            transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg); }
  70% {
    -webkit-transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg);
            transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg); }
  90% {
    -webkit-transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg);
            transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg); } }

@keyframes move {
  25% {
    -webkit-transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg);
            transform: translate(10px, 5px) rotateX(20deg) rotateY(10deg) rotate(50deg); }
  50% {
    -webkit-transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg);
            transform: translate(5px, -15px) rotateX(30deg) rotateY(25deg) rotate(180deg); }
  70% {
    -webkit-transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg);
            transform: translate(8px, -2px) rotateX(15deg) rotateY(30deg) rotate(250deg); }
  90% {
    -webkit-transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg);
            transform: translate(-2px, 0px) rotateX(0deg) rotateY(5deg) rotate(360deg); } }

@media (max-width: 900px) {
  #logo-svg {
    min-height: 70vh; } }

#about {
  height: 100vh;
  width: 100%; }
  #about .about-text {
    padding: 1rem;
    border: 2px solid #F7F7F7;
    outline: 5px double #F7F7F7;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
    background: #F7F7F7; }
  #about .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem 0 1rem;
    background: #F7F7F7;
    margin-top: 1rem;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
    outline: 5px double #F7F7F7; }
    #about .skills img {
      width: 2rem;
      height: 2rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none; }
    #about .skills__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row;
              flex-flow: row; }
      #about .skills__row div {
        width: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        padding: 0.5rem; }
  #about img {
    width: 100%;
    outline: 5px double #F7F7F7;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12) inset; }

@media (max-width: 700px) {
  #about {
    height: auto; }
    #about .grid-col-2 {
      display: block; }
    #about .skills {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 65%;
      font-size: 1rem;
      background: #F7F7F7;
      margin: 1em auto; }
      #about .skills img {
        width: 1rem;
        height: 1rem; }
      #about .skills__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap; } }

@media (max-width: 570px) {
  #about .skills {
    width: 82%; } }

@media (max-width: 465px) {
  #about .skills {
    width: 100%; } }

#contact {
  margin-top: 2rem; }
  #contact .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem auto); }
  #contact form label {
    font-size: 10px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 150%; }
  #contact form input, #contact form textarea {
    font-size: 10px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 150%;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: none;
    background: #F7F7F7;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  #contact form input:focus, #contact form textarea:focus {
    outline: 5px double rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
    border-color: 3px solid rgba(0, 0, 0, 0.15); }
  #contact form .msg {
    grid-column: 1/3; }
  #contact form .send {
    grid-column: 2/3; }
    #contact form .send__button {
      font-size: 16px;
      font-size: 1.6rem;
      font-family: "Playfair Display", serif;
      font-weight: 400;
      color: #3A3A3A;
      line-height: 100%;
      position: relative;
      display: block;
      padding: 1rem 2rem;
      cursor: pointer; }
      #contact form .send__button:hover {
        outline: 5px double rgba(0, 0, 0, 0.22);
        background: #F7F7F7;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22) inset;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22) inset; }
  #contact .contact__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #contact .name-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row; }

@media (max-width: 700px) {
  #contact.main {
    width: 100%; } }

@media (max-width: 430px) {
  #contact.main .form-grid {
    display: block; } }

#projects {
  width: 100%;
  position: relative; }
  #projects img {
    width: 100%;
    height: 100%;
    padding: 1px; }
  #projects figure {
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    padding: 1px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05); }
  #projects figure:nth-of-type(1) {
    margin-top: 0;
    -webkit-transition: all 1s linear;
    transition: all 1s linear; }
  #projects figcaption {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), color-stop(55%, #F7F7F7));
    background: linear-gradient(transparent 10%, #F7F7F7 55%);
    position: absolute;
    bottom: 0;
    padding: 4rem 11% 11% 11%; }
  #projects h2 {
    font-size: 1.3rem;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #3A3A3A;
    line-height: 1.3rem; }
  #projects p {
    font-size: 1rem;
    margin-bottom: 0px; }
  #projects .overlay {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  #projects figure:hover .overlay {
    opacity: 1;
    position: absolute;
    background: #F7FDFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 90%;
    z-index: 1;
    top: 5%;
    left: 5%;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    padding: 1rem; }
    #projects figure:hover .overlay__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      position: relative; }
      #projects figure:hover .overlay__links p {
        font-size: 8px;
        font-size: 0.8rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #3A3A3A;
        line-height: 130%; }
      #projects figure:hover .overlay__links a {
        font-size: 8px;
        font-size: 0.8rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #3A3A3A;
        line-height: 0%;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      #projects figure:hover .overlay__links a:nth-of-type(1) {
        margin-right: 1rem; }
      #projects figure:hover .overlay__links a::after {
        content: "";
        margin-top: 1rem;
        display: block;
        background-color: #3A3A3A;
        width: 0px;
        height: 2px;
        border-bottom: 1px solid transparent; }
      #projects figure:hover .overlay__links a:hover::after {
        content: "";
        margin-top: 1rem;
        display: block;
        background-color: #3A3A3A;
        width: 0px;
        height: 2px;
        -webkit-animation: bottomHover 0.5s linear 1;
                animation: bottomHover 0.5s linear 1;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }

@-webkit-keyframes bottomHover {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes bottomHover {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@media (max-width: 768px) {
  #projects .overlay {
    display: none; }
  #projects figure:hover .overlay {
    display: none; } }

.main {
  padding: 3rem 0;
  position: relative;
  width: 80%; }

.pages {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem auto); }

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem auto);
  margin: 2rem 0; }

.wrapper {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .wrapper {
      width: 90%; } }
  @media (max-width: 1000px) {
    .wrapper {
      width: 90%; } }
  @media (max-width: 768px) {
    .wrapper {
      width: 90%; } }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

@media (max-width: 900px) {
  .grid-col-3 {
    display: block; }
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem auto);
    margin: 2rem 0; }
  .main {
    padding: 0; } }

@media (max-width: 640px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem auto); } }

@media (max-width: 700px) {
  .flex-center {
    height: auto; } }
