header{
<<<<<<< HEAD
    @include flexCenter();
=======
    display: flex;
>>>>>>> ebd0f49b611b5c5eecb2aa7a68858732d7bebd36
}
//logo animation
.logo{
        fill: $black;
        transition: all 0.3s ease;
<<<<<<< HEAD
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    // .logo:hover{
    //     fill: $black;
    //     transform: scale(1.05);
    //     animation: move 3s infinite;
    // }
=======
    }
    .logo:hover{
        fill: $black;
        transform: scale(1.05);
        animation: move 3s infinite;
    }
>>>>>>> ebd0f49b611b5c5eecb2aa7a68858732d7bebd36

@keyframes move{
    25%{
        transform: translate(10px,5px ) rotateX(20deg) rotateY(10deg) rotate(50deg);
    }
    50%{
        transform: translate(5px,-15px ) rotateX(30deg) rotateY(25deg) rotate(180deg);
    }
    70%{
        transform: translate(8px, -2px ) rotateX(15deg) rotateY(30deg) rotate(250deg);
    }
    90%{
        transform: translate(-2px, 0px ) rotateX(0deg) rotateY(5deg)rotate(360deg);
    }
}
