<<<<<<< HEAD
.socialMedia{
    width: 100%;
    height: 100%;
    @include flex(column);
    justify-content: center;
    align-items: center;
    .socialMedia__btnContainer{
        @include flex(column);
        @include flexCenter();
    }
=======
.social-media{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

>>>>>>> ebd0f49b611b5c5eecb2aa7a68858732d7bebd36
    a{
        @include fontSizer(16);
        padding: 1rem;
        transition: all 0.3s ease;
    }
    a:hover{
        transform: scale(1.2);
    }
}